@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
}

p {
  margin: 0;
}

input {
  border: 1px solid transparent;
}

header {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.nav {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
}

.content {
  background-color: var(--primary-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  color: #1e90ff;
}

.input-div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#pnrNumber {
  border-radius: 8px 0 0 8px;
  width: 50%;
  padding: 35px 24px;
  font-size: 24px;
  border: 2px solid var(--primary-color);
  background-color: #f5f5f5;
}

#pnr-btn {
  border-radius: 0 8px 8px 0;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  padding: 37px 24px;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

#pnr-btn:hover {
  background-color: var(--hover-color);
}

/* Loading Screen Started */

.load-div {
  display: grid;
  place-items: center;
  height: 90vh;
}

.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}

.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}

.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}
/* Loading Screen Ended */

/* Result Style Started */

#details-section {
  width: 100% !important;
}

.main-section {
  margin: auto;
  width: 55%;
}

.error-section {
  margin: auto;
  width: 55%;
}

.pnr-card {
  margin-top: 24px;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  border: 2px solid var(--primary-color);
}

.pnr-details {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.pnrNum {
  margin: 0 0 0 5px;
}

.change {
  margin-left: 24px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-bg);
  font-weight: 500;
}

.train-de {
  font-size: 16px;
  margin-top: 26px;
  font-weight: 500;
}

.journey-de {
  font-size: 16px;
  color: #858585;
  margin-top: 10px;
}

.pass-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.chart-status {
  float: right;
  color: var(--secondary-color);
  font-size: 16px;
}

table {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-top: 12px !important;
  gap: 4rem;
  border-collapse: collapse;
}

td,
th,
table {
  padding: 8px 8px 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

th {
  font-size: medium;
  color: #858585;
  text-align: start;
  font-weight: 400;
}

td {
  font-size: 18px;
}

.current {
  color: #5db85b;
  font-weight: 500;
}

.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_logo {
  text-align: center;
  width: 4rem;
  margin-top: 16px;
}

.error-msg {
  font-size: 24px;
  margin-top: 16px;
  color: crimson;
  font-weight: 500;
}

.back-btn {
  margin: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color);
  background-color: var(--primary-bg);
  padding: 13px 24px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.refer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  margin-top: 1rem;
}

.refer-card {
  margin-top: 0;
  display: flex;
  font-size: 18px;
  align-items: center;
}

.refer-card svg,
.refer-card img {
  width: 40px;
  vertical-align: middle;
}

.refer-card p {
  margin-left: 18px;
  font-weight: 500;
  color: #000000;
}

.refer-card a {
  margin: 0 0 0 auto;
  padding: 9px 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.refer-card a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.arrow-svg {
  margin: 0 0 0 auto;
}

.extra-div {
  width: 55%;
  margin: auto;
}

.line {
    visibility: hidden;
}

/* Result Style Ended */

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  #details-section {
    width: auto !important;
  }

  .content {
    padding: 0.5rem;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    width: 100%;
  }

  #pnrNumber {
    width: 90%;
    border-radius: 8px;
    padding: 15px 14px;
  }

  #pnr-btn {
    width: 100%;
    border-radius: 8px;
    padding: 15px 14px;
  }

  .extra-div {
    width: 90%;
  }

  .refer-section {
    margin-top: 38px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  /* Result Page Started */

  #details-section {
    padding: 10px;
  }

  .main-section,
  .error-section {
    width: 100%;
  }

  .pnr-card {
    padding: 14px;
  }

  .line {
    visibility: visible;
  }

  /* Result Page Ended */
}

:root {
  --primary-color: #1e90ff; /* DodgerBlue */
  --secondary-color: #fff;
  --hover-color: #4169e1; /* RoyalBlue */
  --primary-bg: #f0f8ff; /* AliceBlue */
  --secondary-bg: #4682b4; /* SteelBlue */
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}
